{% extends "RobertoMoraApp/padre.html" %}     
{% load static%}
{% block contenidoQueCambia %}
<header class="masthead">
   <div class="container position-relative">
     <h1 align="left"class="mb-5" style="color:rgb(255, 255, 255)"> Busqueda en Facturas:  </h1>
       <div class="row justify-content-left">
           <div class="col-xl-12">
               <div class="text-left text-white">
                  {% if facturas %}
                  <h3 align="left"class="mb-5" style="color:rgb(255, 255, 255)"> Estamos buscandola factura de un total de : {{total}}</h3>
                  <h4> A continuación se muestran los resultados:</h4>
                  <p></p>
                   <ul>
                   {%for factura in facturas%}
                      <li> Total Facturado: {{factura.total}} ,Numero Factura: {{factura.numero}} , Fecha de Factura: {{factura.fechafactura}} </li>
                   {%endfor%}
                   </ul>
                  {%else%}
                  <p>No hay datos con esa descripción.</p>
                  {%endif%}
                  <p style="color:red">{{respuesta}}</p>
               </div>
           </div>
       </div>
   </div>
  </header>
{% endblock %}