{% extends "RobertoMoraApp/padre.html" %}     
{% load static%}
{% block contenidoQueCambia %}
<header class="masthead">
  <div class="container position-relative">
    <h1 align="left"class="mb-5" style="color:rgb(255, 255, 255)"> Registro de Materiales:  </h1>
    <h3 align="left"class="mb-5" style="color:rgb(255, 255, 255)"> A continuación se despliega la lista de materiales registrados:</h3>
      <div class="row justify-content-left">
          <div class="col-xl-18">
              <div class="text-left text-white">
                {% for m in material%}
                <li>{{m}}</li>
                <button class="button1">
                  <a href="{% url 'EditarMaterial' m.nombre %}"> Editar </a>  
                </button>  
                <button class="button1">
                  <a href="{% url 'EliminarMaterial' m.nombre %}"> Eliminar </a>
                </button>
               {%endfor %}
               <br>
               <br>
               <br>
               
               <button class="button1">
                <a href="{% url 'Material' %}"> Agregar Otro Material </a>  
               </button>
              </div>
          </div>
      </div>
  </div>
</header>
{% endblock %}
