{% extends "RobertoMoraApp/padre.html" %}     
{% load static%}
{% block contenidoQueCambia %}
 <header class="masthead">
  <div class="container position-relative">
    <h1 align="left"class="mb-5" style="color:rgb(255, 255, 255)"> Registro de Clientes:  </h1>
    <h3 align="left"class="mb-5" style="color:rgb(255, 255, 255)"> A continuación se despliega la lista de clientes registrados:</h3>
      <div class="row justify-content-left">
          <div class="col-xl-9">
              <div class="text-left text-white">
                {% for c in cliente%}
                 <li>{{c}}</li>
                 <button class="button1">
                   <a href="{% url 'EditarCliente' c.nombre %}"> Editar </a>  
                 </button>
                 <button class="button1">
                   <a href="{% url 'EliminarCliente' c.nombre %}"> Eliminar </a> 
                 </button>
                {%endfor %}
                <br>
                <br>
                <br>
                <button class="button1">
                 <a href="{% url 'Cliente' %}"> Agregar Otro Cliente </a>  
               </button>
              </div>
          </div>
      </div>
  </div>
 </header>
{% endblock %}